:root{

}


body{

}

/* cabezera */

.LO{
display: flex;
justify-content: space-between;
} 

.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}


/* seccion 1*/
.seccion1{
    background-image: url("../img/harvadr.jpg");
}


.campus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}



