:root{

}


body{

}

/* cabezera */

.LO{
display: flex;
justify-content: space-between;
} 

.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}


/* seccion 1*/




/* seccion 2*/
.seccion2{
    border: 1px solid red;
    
}

.seccion2 h2{
    text-align: center;
}



.campus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding:30px ;
}


.camp{
    box-shadow: 3px 3px 10px gray;
    display: flex;
    flex-direction: column;
    
}

.camp img{
    height: 100%;
    width: 100%;   
}

.camp p{
    padding: 20px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}


/* seccion3 */
.seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:100px;
    border: green solid 1px;
}

.seccion3 img{
    height: 100%;
    width: 100%; 
}

.seccion3 p{
    text-align: center;
    padding: 200px;
    font-size: 30px;
    color: gray;
}
.seccion3 h1{
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

/*seccion4*/

/*Seccion 5*/
.seccion4{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.redes ul li a img{
    height: 30px;
}

.redes ul{
    display: flex;
}
.redes ul li{
    list-style-type: none;
}
.redes ul li a{
    text-decoration: none;
    margin-left: 20px;
}




