body{
    padding:50px;
    background-color: rgb(206, 184, 143);
}

/*cabezera*/
.cabezera{
    display: flex;
    justify-content: space-between;
}

.cabezera h1{
    font-size: 50px;
}

.menu ul{
    display: flex;
    font-size: 35px;

}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    margin-left: 20px;
}

/*Seccion1*/
.sec1{
    Background-image: url("../img/234430_1331299.jpg.1500x1000_q95_crop-smart_upscale.jpg")
    
}

/*Seccion2*/
.sec2{
background-color: rgb(100, 1, 21)
}

.sec2 h1{
    text-align: center;
    font-size:40px ;
}

.campus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding:100px ;
}

.camp{
    box-shadow: 3px 3px 10p gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;  
    background-color: whitesmoke;
}

.camp img{
    height: 100%;
    width: 100%;   
}

.camp p{
    padding: 20px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

/*Seccion3*/
.sec3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:100px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px whitesmoke;

}

.sec3 img{
    height: 100%;
    width: 100%; 
}


.sec3 p{
    text-align: center;
    padding: 100px;
    font-size: 30px;
    color: gray;
}

.sec3 h1{
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

/*Seccion4*/
.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:80px ;
    padding-bottom: 100px;
}

.sec4 button{
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    button:crimson ;
}
.sec4 input{
    padding: 50px;
    width: 50%;
}


/*Seccion5*/
.sec5{
    padding:100px 50px 100px 50px;
    display: flex;
    justify-content: space-between;
}

.redes ul li a img{
    height: 30px;
}

.redes ul{
    display: flex;
}
.redes ul li{
    list-style-type: none;
}
.redes ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.menu2 ul{
    display: flex;
    font-size: 35px;
    color: grey;
}
.menu2 ul li{
    list-style-type: none;
}
.menu2 ul li a{
    text-decoration: none;
    margin-left: 20px;
}

.card{
    color:aliceblue ;
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.card img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}




@media (max-width: 1020px){
    .campus{
        display: flex;
        flex-direction: column;
    }

    .sec3{
        display: flex;
        flex-direction: column;
        margin-top:10px;
    }

    .sec4{

    }


    .sec5{
        display: flex;
        flex-direction: column-reverse;
    }

    .menu2 ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:5px;
    }

    .redes{
        display: flex;
        justify-content: center;
    }
}


